<mat-toolbar class="app-header" color="primary">
  <div>
    <mat-icon>accessibility</mat-icon>
  </div>

  <div>Crypto App</div>

  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item (click)="homeClicked($event)">Home</button>
  <button mat-menu-item (click)="cryptoListClicked($event)">Crypto List</button>
</mat-menu>
<!-- <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
        <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </mat-card> -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>